@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using DataAccessLibrary.Model
@using FITCarpoolWebApp.Components.MainPages
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using FITCarpoolWebApp.Data
@inject Radzen.DialogService DialogService

@page "/Preferences"
<h3>Update Group Preferences</h3>
<RadzenStack>
    <RadzenCard Class="rz-my-12 rz-mx-auto" Style="width:75%">
        <RadzenStack>
            <MudText Typo="Typo.h2" Align="Align.Center">Safety Preferences</MudText>

            <RadzenLabel Text="Select Rider Gender Preference" Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" />
            <RadzenDropDown @bind-Value=@genderPreference Data=@genderValues Style="width: 100%; max-width: 400px;" Name="DropDownBindValue" />
            
            <MudText Typo="Typo.h2" Align="Align.Center">Cleanliness Preferences</MudText>

            <RadzenLabel Text="Select Car Eating Preference" Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" />
            <RadzenDropDown @bind-Value=@eatingPreference Data=@carEatingValues Style="width: 100%; max-width: 400px;" Name="DropDownBindValue" />
            <RadzenLabel Text="Select Car Smoking Preference" Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" />
            <RadzenDropDown @bind-Value=@smokingPreference Data=@carSmokingValues Style="width: 100%; max-width: 400px;" Name="DropDownBindValue" />

            <MudText Typo="Typo.h2" Align="Align.Center">Comfort Preferences</MudText>

            
        </RadzenStack>
    </RadzenCard> 
</RadzenStack>

@code {
    // Logic added for creating user preferences - schedule 
    RadzenScheduler<ScheduleModel> scheduler;
    RadzenUpload upload;
    Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();
    // Gender 
    string genderPreference = "No Preference";
    string eatingPreference = "No Preference";
    string smokingPreference = "No Preference";


    string gender = "Other";
    string role = "Rider";
    string seatbelts;
    string vehicleModel;
    string vehicleColor;
    string licensePlate;
    string address;
    string pickupLocation;
    string dropoffLocation;
    string drivingDistance;
    bool allowEatingDrink;
    bool allowSmoking;
    IEnumerable<string> genderValues = new string[] { "No Preference", "Women and Non-binary Only", "Same Gender", "Non-binary Only" };
    IEnumerable<string> carEatingValues = new string[] { "No Preference", "Vehcile allows eating", "Vehicle does not allow eating"};
    IEnumerable<string> carSmokingValues = new string[] { "No Preference", "Vehcile allows smoking", "Vehcile does not allow smoking" };

}
